{% extends 'index.html' %}
{% block title %} Contact {% endblock title %}
{% block body %}
<div class="container py-3">
  <link rel="stylesheet" href="/static/contact.css">
  <img src="https://t4.ftcdn.net/jpg/02/67/40/21/360_F_267402109_jZvsqRQUvSxohAOmcUt549jlapqoRHM0.jpg" alt="Description" class="contactbg" alt="...">
  <div class="container py-4">
    <h1 class=text > Contact us </h1>
    <form method="POST" action="/contact">
      {% csrf_token %}<!-- is ka use kar ke har bar ek naya token generete hoga our data isis page ka hai ye samzega! -->
      <div class="border">
        <div class="entry">
          <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="name" class="form-control" id="Name" name="name" placeholder="Name">
          <!--ikade id,name,type mention karna importent ahe ! -->
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email"  >
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Phone No</label>
          <input type="phone" class="form-control" id="pone No" name="phone" placeholder="Phone no">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message Box</label>
          <textarea  type="text" class="form-control" id="desc" name="desc" rows="3" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="btnlocation">
          <button class="btn" type="Cancel">Cancel</button>
          <button class="btn" type="Submit">Submit</button>
        </div>
      </div>
      </form>
      {% endblock body %}