{% extends 'index.html' %}
{% block title %} Home {% endblock title %}
{% load static%}
{% block body %}
<section id="home">
    <!-- <img src="static/bg.jpg" alt="Info Tech Institute"> -->
    <h1 class="primery">Welcome To Info-Tech Institute</h1>
    <p>Welcome {{request.user}} to Info-Tech Institute, where we turn your coding aspirations into reality. Our coding institute offers a
        comprehensive range of courses designed to equip you with the skills needed to excel in the ever-evolving tech
        industry. Whether you are a beginner eager to learn the basics or an experienced professional looking to advance
        your expertise, our curriculum covers everything from web development and data science to artificial intelligence
        and cybersecurity. Our hands-on, project-based approach ensures that you gain practical experience and build a
        robust portfolio. With guidance from experienced instructors, access to cutting-edge resources, and a vibrant
        community of learners, you will be well-prepared to tackle real-world challenges. We also provide extensive career
        support, including job placement assistance, resume building, and interview preparation, to help you smoothly
        transition into your dream job. Join us at Info-Tech Institute and take the first step towards a successful career
      in tech.</p>
      <button class="btn">Reviews</button>
  </section>
  <section class="services-container">
      <!-- <img src="static/bgs.jpg" alt="Info Tech Institute"> -->
      <h1 class="h-primary center">Our Coures
    </h1>
    <div id="services">
      <div class="box">
          <img src="static/py.jpg" alt="python">
          <h2 class="h-secondary">Python</h2>
          <ul>
          <li>Course Duration: 6 month </li>
          <li>Class Hours: 2hr</li>
          <li>Class Timings: Evening and Morning</li>
          <li>Projects: 3</li>
          <li>Industrial Training in Last month Extra</li>
          <h3> Price : 2k</h3>
        </ul>
        <button class="btn"><a href="buy">Buy</a></button>
      </div>
      <div class="box">
          <img src="static/R3.jpg" alt="python">
          <h2 class="h-secondary ">React</h2>
        <ul>
            <li>Course Duration: 6 month </li>
            <li>Class Hours: 2hr</li>
            <li>Class Timings: Evening and Morning</li>
          <li>Projects: 3</li>
          <li>Industrial Training in Last month Extra</li>
          <h3> Price : 2k</h3>
        </ul>
        <button class="btn"> <a href="buy">Buy</a></button>
      </div>
      <div class="box">
          <img src="static/jslogo.jpg" alt="python">
          <h2 class="h-secondary ">Jawa Script</h2>
        <ul>
            <li>Course Duration: 6 month </li>
            <li>Class Hours: 2hr</li>
            <li>Class Timings: Evening and Morning</li>
            <li>Projects: 3</li>
            <li>Industrial Training in Last month Extra</li>
            <h3> Price : 2k</h3>
        </ul>
        <button class="btn"><a href="buy">Buy</a></button>
      </div>
    </div>
  </section>
</body>
</html>
{% endblock body %}