
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} {% endblock title %} | Infotech institute </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" media="screen and (max-width:1170px)" href="{% static 'phone.css'%}">
  </head>
  <style>
    body {
    background-color: rgba(11, 7, 40, 0.971);
}

.item {
    /* color:white; */
    color: rgb(3, 73, 50);
    /* text-decoration: none; */
}
  </style>
<body>
  <nav id="navbar">
    <div id="logo">
     <img src="static/logo.jpg" alt="Info Tech Institute">
    </div>
    <ul>
      <li class="item"><a href="/">Home</a></li>
      <li class="item"><a href="newcourse">New Courses</a></li>
      <li class="item"><a href="contact">Contact Us</a></li>
      <li class="item"><a href="aboutus">About Us</a></li>
      <!-- <li class="item"id="log"><a href="login" >Log in</a></li>
      <li class="item"id="log"><a href="logout">Log out</a></li> -->
    </ul>
    <div class="right">
        <li class="item"id="log"><a href="login" >Log in</a></li>
        <!-- <li class="item"id="log"><a href="logout">Log out</a></li> -->
        <li class="item" id="log"><a href="signup">Sign up</a></li>
      </div>
  </nav>
  {%block body%} 
  
  {%endblock body%}
</body>
</html>