.contactbg{
    position: absolute;
    height: 53rem;
    display: flex;
    width: 120rem;
    z-index: -1;
}
.form-group{
    color:black;
    /* text-align: center; */
    font-weight:bold;
    height:7rem;
    width:10rem;
    /* border: 2px solid blue; */
}
.btn{
    height: 4.2rem;
    margin: 2rem;
    padding: 1rem 3rem ;
    
}
.btnlocation{
    display: flex;
    align-items: center ;
    /* top:5rem; */
    padding: 0rem 10rem;
    
}
.form-control{
    padding:10px;
    width:45rem;
    border-radius: 30px;
    height:2rem;
    margin:1rem;
}
.form-control::placeholder {
    color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
}
.text{
    text-shadow: 2px 2px 10px white;
    text-align: center;
    color:black;
    padding: 35px;
    margin-left: 25px;
    font-size: 60px;
}
.entry{
    font-size:26px;
    /* font-weight: 50px; */
    /* position: absolute; */
    display:block;
    height:26rem;
    justify-content: center;
    /* align-items: center; */
    padding:25px 20px;
    width:55rem;
}
.border{
    box-shadow: 2px 2px  10px 6px black;
    /* box-shadow:inset 2px 2px 15px blue; */
    border: 2px solid rgb(11, 7, 40, 0.971); 
    border-radius: 53px;
    position: absolute;
    height: 38rem;
    width:52rem;
    padding: 0rem 8rem;
    margin: 0rem 28rem;
    
}
.border-s{
    box-shadow: 2px 2px  10px 6px black;

}
/* @media (min-width:200px)and (max-width:400px){
    img.contactbg{
        border: 2rem solid red;
        display: flex;
    }
} */